
@media screen and (max-width: 560px) {
    ul {
        display: flex;

    }
    li {
        flex: 1;
    }
    .main-menu {
        margin: -10px;
        margin-bottom: 0px;
        margin-top: 0px;
        display: block;
        grid-area: navbar;
    }
}
@media screen and (min-width: 560px) {
    main {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "navbar main-article"
        ". gallery"
        ". other-articles";
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .page{
        margin: 0 auto;
    }

}
@media screen and (min-width: 960px) {
    main {
        display: grid;
        grid-template-columns: 20% 55% 25%;
        grid-template-areas: 
        "navbar main-article gallery"
        ". main-article gallery"
        ". other-articles other-articles";
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1200px) {
    .page {
        max-width: 1200px;
        align-content: center;
    }
}

