
@media screen and (max-width: 560px) {
    ul {
        display: flex;

    }
    li {
        flex: 1;
    }
}
@media screen and (min-width: 560px) {
    .grid {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "navbar main-article"
        ". gallery"
        ". other-articles";
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: 20% 55% 25%;
        grid-template-areas: 
        "navbar main-article gallery"
        ". main-article gallery"
        ". other-articles other-articles";
    }
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }
}

